@charset "utf-8";
/*Por Anuar*/

* {margin:0; padding:0}

header{
width:100%;
background-color:#2c4f71;
opacity:0.8;
position:fixed;
font-family: Helvetica, Arial, sans-serif;
color: #fff;
font-size: 1em;
color: white;
/*font-weight: 600;*/
}

header a{
color:#fff;
}

#portada_fondo {
/*background-image: url(../imagenes/enveria_portada_6.jpg);*/
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
padding: 60px 0 0 0; /*60px 0 40px 0*/
}
img {
	padding-top:0em;
	}
/*------------------------------
Teléfono y Redes sociales
------------------------------*/
 
tel {
margin: 0;
	/*padding: 0;*/
padding-left: 40px;
list-style: none;
padding-right: 20px;
line-height: 50px;
font-weight: 600;
} 
/*------------------------------
Registro
------------------------------*/	

registro {
float: right;
}

registro ul.menu_uno {
margin: 0;
padding: 0;
list-style: none;
padding-right:40px;/*40px*/
}
	
registro ul.menu_uno li.barrita {
display: inline-block;
line-height: 50px;
}
			
registro ul.menu_uno li.barrita a {
display: block;
padding: 0 10px;
text-decoration: none;
}
			
registro ul.menu_uno li.barrita a:hover {
background: #5b90bc;
}

/*------------------------------
marcado
------------------------------*/
li.marcado {
	background:#5b90bc;
	
}
	
registro ul.menu_uno li.marcado {
display: inline-block;
line-height: 50px;
}
			
registro ul.menu_uno li.marcado a {
display: block;
padding: 0 10px;
text-decoration: none;
}
			
registro ul.menu_uno li.marcado a:hover {
background:#123049;
}
/*------------------------------
Submenu
------------------------------*/	
submenu {
float: center;
font-family: Helvetica, Arial, sans-serif;
color: #fff;
font-size: .9em;
font-weight: 600;
text-align:center;
}

submenu a{
color:#fff;
}

submenu ul.menuu {
margin: 0;
padding: 0;
list-style: none;
padding-right:40px;
}
	
submenu ul.menuu li.bari {
display: inline-block;
line-height: 50px;
}
			
submenu ul.menuu li.bari a {
display: block;
padding: 0 10px;
text-decoration: none;
}
			
submenu ul.menuu li.bari a:hover {
color:#D9C507;
}

/*----------------------------------------
 Inicio  
----------------------------------------*/		
#portada1
				{
				margin: 0px 0 0 0;
				padding: 0.5em 0.0em;
				width: 100%;
				height:100%;
				left: 0;
                top: 0;
				}
				#portada1 article
				{
				background:none;
				color: #36c;
				display: inline-block;
				height:100%;
				padding: 0%;
				margin: 0.5%;
				margin-left:40px;
				margin-right:1px;
				vertical-align: top;
				}
				#portada1 article:nth-child(1)
				{
				/*background-color:#E86567;*/
				width: 41.2%;/*41.2   36*/
				}
				#portada1 article:nth-child(2)
				{
				/*background:rgba(108,193,118,1.00);*/
				width: 51.2%;
				}
				
/*----------------------------------------
Salida 
----------------------------------------*/		
#salida
				{
				margin: 0px 0 0 0;
				padding: 0.5em 0.0em;
				width: 100%;
				height:100%;
				left: 0; 
                top: 0;
				}
				#salida article
				{
				background:none;
				color: #36c;
				display: inline-block;
				height:100%;
				padding: 0%;
				margin: 0.5%;
				margin-left:40px;
				margin-right:1px;
				vertical-align: top;
				}
				#salida article:nth-child(1)
				{
				/*background-color:#DC383A;*/
				width: 95%;
				}
				#salida article:nth-child(2)
				{
				/*background-color:#DC383A;*/
				width: 95%;
				}
				#salida article:nth-child(3)
				{
				/*background-color:#DC383A;*/
				width: 95%;
				}
/*----------------------------------------
Rosas
----------------------------------------*/								
#rosas
				{
				margin: 0 0 0 0;
				padding: 0.2em 0.0em;
				width: 100%;
				height:100%;
				left: 0;
                top: 0;
				}
				#rosas article.ross
				{
				background:none;
				color: #36c;
				display: inline-block;
				height:100%;
				padding: 0%;
				margin: 0.5%;/*
				margin-left:40px;
				margin-right:0;*/
				vertical-align:top;
				}
				#rosas article.ross:nth-child(1)
				{
				/*background:#F9B6E8;/*marcar los rosas aqui en ross*/
				width: 99%;
				}
				#rosas article.ross:nth-child(2)
				{
			   /* background:#F9B6E8;*/
				width: 99%;
				}
				#rosas article.ross:nth-child(3)
				{
				/*background:#F9B6E8;*/
				width: 48.8%;/*49.8*/
				}
				#rosas article.ross:nth-child(4)
				{
				/*background:#F9B6E8;*/
				width: 48.8%;/*49.8*/
				}
				#rosas article.ross:nth-child(5)
				{
				/*background:#F9B6E8;*/
				width: 48.8%;
				}
				#rosas article.ross:nth-child(6)
				{
				/*background:#F9B6E8;*/
				width: 48.8%;
				}								
/*----------------------------------------
Títulos 
----------------------------------------*/
h1 {
font-family: Helvetica, Arial, sans-serif;
color: white;
font-size: 2.2em;
line-height: 1em;
margin-top:6em;
margin-bottom:0.8em;
font-weight: normal;
font-style: italic;
text-shadow: 2px 2px 3px #2c4f71;
}	
h2 {
font-family: Helvetica, Arial, sans-serif;
color: #2c4f71;
font-size: 2.2em;
line-height: 1em;
font-weight: normal;
font-style: italic;
margin-top:2em;
padding-top:0.5em;
padding-bottom:0.5em;
border-top:2px solid #2c4f71;
}
h3 {
font-family: Helvetica, Arial, sans-serif;
color:  #2c4f71;
font-size: 1.4em;
line-height: 1em;
/*margin-top:0.5em;*/
padding-top:1em;
font-weight: normal;
font-style: italic;
text-align:center;
}
h4 {
font-family: Helvetica, Arial, sans-serif;
color:  #fff;
font-size:.9em;
line-height:1.1em;
font-weight: normal;
text-align:center;
}
v {
font-family: Helvetica, Arial, sans-serif;
font-size:1em;	
color:#8A8384;
}
.b{
text-decoration:none;
color: #fff;	
}
.bold{
font-weight:600;
}
.logotipo{
	width:250px;/*Super Importante*/
}
#box{
	background:#48B15E;
	width:100px;
	text-align:left;
	}
#textos{
padding:0 2.5em 0 2.5em;
	}
#textoss{
padding:0 3.5em 0 3.5em;
	}	
.uy {
font-family: Helvetica, Arial, sans-serif;
color: #2c4f71;
font-size: 0.9em;
font-weight: normal;
text-align:justify;
line-height:1.7em;
}
.wi {
font-family: Helvetica, Arial, sans-serif;
color: #2c4f71;
font-size: 1.2em;
font-weight: normal;
text-align:justify;
line-height:1.7em;
font-weight:500;
}
ok{
font-weight:600;	
}		
		
/*----------------------------------------
Footer
----------------------------------------*/		
footer{
	background-color: #2c4f71;
	padding-top:3em;
	padding-bottom:5em;
/*	position: absolute;
    bottom: 0;
	width: 100%;*/
	}

@media screen and (max-width: 1273px) {

header{
/*background-color:#F3090D;*/
}
h3 {
font-size: 1.2em;
line-height: 1em;
}
#portada1 article:nth-child(1)
{
width: 31.2%;
}
#portada1 article:nth-child(2)
{
width: 55.2%;
}	
}

@media screen and (max-width: 1064px) {
header{
/*background-color:#E5E409;*/
}

h3 {
font-size: 1em;
line-height: 1.1em;
}	
}
@media screen and (max-width: 906px) {
header{
/*background-color:#E77B11;*/
}
/*----------------------------------------
 Inicio  
----------------------------------------*/	
#portada1 article:nth-child(1)
{
width: 27.2%;
}
#portada1 article:nth-child(2)
{
width: 51.2%;
}
.logotipo{
width:170px;/*Super Importante*/
}

#portada_fondo {
padding: 110px 0 0 0;
}
/*----------------------------------------
Salida 
----------------------------------------*/		
#salida article
				{
				margin-left:0px;
				margin-right:0px;
				}
				#salida article:nth-child(1)
				{
				width: 100%;
				}
				#salida article:nth-child(2)
				{
				width: 100%;
				}
				#salida article:nth-child(3)
				{
				width: 100%;
				text-align:center;
				}					

h1 {
font-size: 1.9em;
line-height: 1em;
}
h2 {
font-size: 1.9em;
line-height: 1em;
}	
h3 {
font-size: 1em;
line-height: 1.1em;
}
.uy {
text-align:left;
}
.wi {
text-align:left;
line-height:1.2em;
}
/*----------------------------------------
Boton Solicitar crédito
----------------------------------------*/
    input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		font-size: 1.1em;
	}	
}
@media screen and (max-width: 739px) {
header{
/*background-color:#5E8622;*/
font-size:1em;
}
h4 {
padding-left:1em;
padding-right:1em;
}
/*header{
font-size: 0.8em;
}*/
tel {
padding-left:1em;
width:100%;
color:#D9C507;
}
registro {
/*float: right;*/
text-align:center;
width:100%;
}

registro ul.menu_uno {
padding-right:0px;
}

registro ul.menu_uno li.barrita {
/*display: inline-block;*/
display: block;
line-height: 30px;
border-bottom:1px solid #fff;
}
#portada_fondo {
padding: 243px 0 0 0;
}
/*------------------------------
marcado
------------------------------*/
li.marcado {
	background:#5b90bc;
	}
	
registro ul.menu_uno li.marcado {
display: block;
line-height: 30px;
border-bottom:1px solid #fff;
}


.logotipo{
	width:230px;/*Super Importante*/
}
h1 {
margin-top:1em;
margin-bottom:0.8em;
font-size: 1.5em;
}
h2 {
font-size: 1.2em;
text-align:center;
margin-top:1em;
}
#portada1 article
{
margin-left:40px;
/*margin-right:20px;*/
}
#portada1 article:nth-child(1)
{
width:87%;
text-align:center;
}
#portada1 article:nth-child(2)
{
width:87%;
padding-bottom:2em;
}
.logotipo{
width:170px;/*Super Importante*/
}
/*------------------------------
Submenu
------------------------------*/	
submenu ul.menuu li.bari {
display: block;
line-height: 30px;
border-bottom:1px solid #fff;
}
submenu ul.menuu {
padding-right:0;
}
/*----------------------------------------
Salida 
----------------------------------------*/		
#salida article
				{
				margin-left:0px;
				margin-right:0px;
				padding-top:0.5em;
				}
				#salida article:nth-child(1)
				{
				/*background:#D15F61;*/
				width: 100%;
				}
				#salida article:nth-child(2)
				{
				/*background:#D15F61;*/	
				width: 100%;
				}
				#salida article:nth-child(3)
				{
				/*background:#D15F61;*/	
				width: 100%;
				text-align:center;
				}				
footer{
	padding-top:0;
	padding-bottom:2em;
	}
.uy {
text-align:left;
}
.wi {
text-align:left;
line-height:1.2em;
}						
}
@media screen and (max-width: 539px) {
header{
/*background-color:#A2881C;*/
}
#portada1 article
{
margin-left:20px;
margin-right:20px;
}
#portada1 article:nth-child(1)
{
width:85%;
text-align:center;
}
#portada1 article:nth-child(2)
{
width:85%;
padding-bottom:2em;
}
.uy {
text-align:left;
}
.wi {
text-align:left;
line-height:1.2em;
}
}