@charset "utf-8";
/*Por Anuar*/

* {margin:0; padding:0}

header{
width:100%;
background-color:#2c4f71;
opacity:0.8;
position:fixed;
font-family: Helvetica, Arial, sans-serif;
color: #fff;
font-size: 1em;
color: white;
/*font-weight: 600;*/
}

header a{
color:#fff;
}

#portada_fondo {
/*background-image: url(../imagenes/enveria_portada_6.jpg);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;*/
padding: 60px 0 0 0; /*60px 0 40px 0*/
}
img {
	padding-top:0em;
	}
/*------------------------------
Teléfono y Redes sociales
------------------------------*/
 
tel {
margin: 0;
	/*padding: 0;*/
padding-left: 40px;
list-style: none;
padding-right: 20px;
line-height: 50px;
font-weight: 600;
} 
/*------------------------------
Registro
------------------------------*/	

registro {
float: right;
}

registro ul.menu_uno {
margin: 0;
padding: 0;
list-style: none;
padding-right:40px;/*40px*/
}
	
registro ul.menu_uno li.barrita {
display: inline-block;
line-height: 50px;
}
			
registro ul.menu_uno li.barrita a {
display: block;
padding: 0 10px;
text-decoration: none;
}
			
registro ul.menu_uno li.barrita a:hover {
background: #5b90bc;
}

/*------------------------------
marcado
------------------------------*/
li.marcado {
	background:#5b90bc;
	
}
	
registro ul.menu_uno li.marcado {
display: inline-block;
line-height: 50px;
}
			
registro ul.menu_uno li.marcado a {
display: block;
padding: 0 10px;
text-decoration: none;
}
			
registro ul.menu_uno li.marcado a:hover {
background:#123049;
}
/*------------------------------
Usuario
------------------------------*/	

usuario {
float: right;
}

usuario ul.cerrar {
margin: 0;
padding: 0;
list-style: none;
/*padding-right:10px;/*40px*/
}
	
usuario ul.cerrar li.sesion {
display: inline-block;
line-height: 50px;
}
			
usuario ul.cerrar li.sesion a {
display: block;
padding: 0 3px;
text-decoration: none;
}
			
usuario ul.cerrar li.sesion a:hover {
background:#b0dcf4;
}
/*------------------------------
Submenu
------------------------------*/	
submenu {
float: center;
font-family: Helvetica, Arial, sans-serif;
color: #fff;
font-size: .9em;
font-weight: 600;
text-align:center;
}

submenu a{
color:#fff;
}

submenu ul.menuu {
margin: 0;
padding: 0;
list-style: none;
padding-right:40px;
}
	
submenu ul.menuu li.bari {
display: inline-block;
line-height: 50px;
}
			
submenu ul.menuu li.bari a {
display: block;
padding: 0 10px;
text-decoration: none;
}
			
submenu ul.menuu li.bari a:hover {
color:#D9C507;
}
/*------------------------------
datos
------------------------------*/	

datos {
/*float: right;*/
/*float:none;*/
text-align:center;
}

datos ul.base {
margin: 0;
padding: 0;
list-style: none;
padding-right:40px;/*40px*/
}
	
datos ul.base li.clientes {
display: inline-block;
line-height: 50px;
}
			
datos ul.base li.clientes a {
display: block;
padding: 0 10px;
text-decoration: none;
}
			
datos ul.base li.clientes a:hover {
background: #5b90bc;
}
/*----------------------------------------
 Inicio  
----------------------------------------*/		
#portada1
				{
				margin: 0px 0 0 0;
				padding: 0.5em 0.0em;
				width: 100%;
				height:100%;
				left: 0;
                top: 0;
				}
				#portada1 article
				{
				background:none;
				color: #36c;
				display: inline-block;
				height:100%;
				padding: 0%;
				margin: 0.5%;
				margin-left:40px;
				margin-right:1px;
				vertical-align: top;
				}
				#portada1 article:nth-child(1)
				{
				/*background-color:#E86567;*/
				width: 95%;/*41.2   36*/
				}
				#portada1 article:nth-child(2)
				{
				/*background:rgba(108,193,118,1.00);*/
				width: 95%;
				text-align:center;
				/*padding-bottom:13em;*/
				}
/*----------------------------------------
Portada 2 
----------------------------------------*/		
#rosas
				{
				margin: 0 0 0 0;
				/*padding: 0.5em 0.0em;*/
				width: 100%;
				height:100%;
				left: 0;
                top: 0;
				}
				#rosas article.ross
				{
				background:none;
				color: #36c;
				display: inline-block;
				height:100%;
				padding: 0%;
				margin: 0.5%;
				/*margin-left:0px;*/
				/*margin-right:1px;*/
				vertical-align: top;
				}
				#rosas article.ross:nth-child(1)
				{
				background:#F9B6E8;
				width: 100%;
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(2)
				{
				background:#F9B6E8;
				width: 100%;
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(3)
				{
				background:#F9B6E8;
				width: 49.8%;
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(4)
				{
				background:#F9B6E8;
				width: 49.8%;
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(5)
				{
				background:#F9B6E8;
				width: 49.8%;
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(6)
				{
				background:#F9B6E8;
				width: 49.8%;
				margin-left:0px;
				margin-right:0px;
				}
/*----------------------------------------
Broche
----------------------------------------*/		
#broche
				{
				margin: 0 0 0 0;
				/*padding: 0.5em 0.0em;*/
				width: 100%;
				height:100%;
				left: 0;
                top: 0;
				}
				#broche article.cheta
				{
				background:none;
				color: #36c;
				display: inline-block;
				height:100%;
				padding: 0%;
				margin: 0.5%;
				margin-left:10px;
				margin-right:1px;
				vertical-align: top;
				}
				#broche article.cheta:nth-child(1)
				{
				background:#F9B6E8;
				width: 5%;
				}
				#broche article.cheta:nth-child(2)
				{
				background:#F9B6E8;
				width: 5%;
				}
				#broche article.cheta:nth-child(3)
				{
				background:#F9B6E8;
				width: 5%;
				}
				#broche article.cheta:nth-child(4)
				{
				background:#F9B6E8;
				width: 5%;
				}
				#broche article.cheta:nth-child(5)
				{
				background:#F9B6E8;
				width: 5%;
				}
				#broche article.cheta:nth-child(6)
				{
				background:#F9B6E8;
				width: 5%;
				}				
/*----------------------------------------
Interior 
----------------------------------------*/		
#interior
				{
				margin: 0 0 0 0;
				/*padding: 0.5em 0.0em;*/
				width: 100%;
				height:100%;
				left: 0;
                top: 0;
				}
				#interior article.inter
				{
				background:none;
				color: #36c;
				display: inline-block;
				height:100%;
				padding: 0%;
				margin: 0.5%;
				/*margin-left:0px;*/
				/*margin-right:1px;*/
				vertical-align: top;
				}
				#interior article.inter:nth-child(1)
				{
				/*background:#36c;*/
				width: 49.8%;/*49.8*/
				margin-left:0px;
				margin-right:0px;
				}
				#interior article.inter:nth-child(2)
				{
				/*background:#FBA5A7;*/
				width: 49.8%;/*49.8*/
				margin-left:0px;
				margin-right:0px;
				text-align:right;
				}
				#interior article.inter:nth-child(3)
				{
				/*background:#FBA5A7;*/
				width: 100%;/*49.8*/
				margin-left:0px;
				margin-right:0px;
				}													
/*----------------------------------------
Salida 
----------------------------------------*/		
#salida
				{
				margin: 0px 0 0 0;
				padding: 0.5em 0.0em;
				width: 100%;
				height:100%;
				left: 0; 
                top: 0;
				}
				#salida article
				{
				background:none;
				color: #36c;
				display: inline-block;
				height:100%;
				padding: 0%;
				margin: 0.5%;
				margin-left:40px;
				margin-right:1px;
				vertical-align: top;
				}
				#salida article:nth-child(1)
				{
				/*background-color:#DC383A;*/
				width: 95%;
				}
				#salida article:nth-child(2)
				{
				/*background-color:#DC383A;*/
				width: 95%;
				}
				#salida article:nth-child(3)
				{
				/*background-color:#DC383A;*/
				width: 95%;
				}			
								
/*----------------------------------------
Títulos 
----------------------------------------*/
h1 {
font-family: Helvetica, Arial, sans-serif;
color: white;
font-size: 2.2em;
line-height: 1em;
margin-top:6em;
margin-bottom:0.8em;
font-weight: normal;
font-style: italic;
text-shadow: 2px 2px 3px #2c4f71;
}	
h2 {
font-family: Helvetica, Arial, sans-serif;
color: #2c4f71;
font-size: 1.2em;
line-height: 1em;
font-weight: normal;
font-style: italic;
/*margin-top:2em;*/
padding-top:0.5em;
/*padding-bottom:0.5em;*/
border-top:2px solid #2c4f71;
}
h3 {
font-family: Helvetica, Arial, sans-serif;
background:#82B8F1;
color:  #2c4f71;
font-size: 1em;
line-height: 1em;
/*margin-top:0.5em;*/
padding-top:1em;
font-weight: normal;
font-style: italic;
/*text-align:right;*/
}
h4 {
font-family: Helvetica, Arial, sans-serif;
color:  #fff;
font-size:.9em;
line-height:1.1em;
font-weight: normal;
text-align:center;
}
h5{
font-family: Helvetica, Arial, sans-serif;
color:#8C8B8B;
font-size: .9em;
line-height: 1em;
/*margin-top:0.5em;*/
/*padding-top:1em;*/
padding-bottom:1em;
font-weight: normal;
font-style: italic;
text-align:right;	
  }
 h6{
font-family: Helvetica, Arial, sans-serif;
color: #2c4f71;
font-size: 1em;
text-decoration: none;
font-weight:100;	
  } 
v {
font-family: Helvetica, Arial, sans-serif;
font-size:1em;	
color:#8A8384;
}
.b{
text-decoration:none;
color: #fff;	
}
.bold{
font-weight:600;
}
.logotipo{
	width:250px;/*Super Importante*/
}
#box{
	background:#48B15E;
	width:100px;
	text-align:left;
	}
a.cerrar{
	text-decoration:none;
	}
	.usua {
		/*background:#8D85F7;*/
		position: relative;
        bottom:-5px;
		
		}
 #hexagono {
	 background: url(../imagenes/boton_1.png) no-repeat right;
	 width:80px;
 }
 
 #hexagono:hover {
	 background: url(../imagenes/boton_2.png) no-repeat right;
}
 
 #hexagono:target {
	 background: url(../imagenes/boton_2.png) no-repeat right;
 }
 
/*----------------------------------------
Footer
----------------------------------------*/		
footer{
	background-color: #2c4f71;
	padding-top:3em;
	padding-bottom:5em;
/*	position: absolute;
    bottom: 0;
	width: 100%;*/
	}

@media screen and (max-width: 1273px) {

header{
/*background-color:#F3090D;*/
}
h3 {
font-size: 1.2em;
line-height: 1em;
}
#portada1 article:nth-child(1)
{
width: 93%;
}
#portada1 article:nth-child(2)
{
width: 93%;
}
}

@media screen and (max-width: 1064px) {
header{
/*background-color:#E5E409;*/
}
                #rosas article.ross:nth-child(1)
				{
				background:#F9B6E8;
				width: 100%;
				margin-left:0px;
				margin-right:0px;
				}
				 #rosas article.ross:nth-child(2)
				{
				background:#F9B6E8;
				width: 100%;
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(3)
				{
				background:#F9B6E8;
				width: 49.6%;
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(4)
				{
				background:#F9B6E8;
				width: 49.6%;
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(5)
				{
				background:#F9B6E8;
				width: 49.6%;
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(6)
				{
				background:#F9B6E8;
				width: 49.6%;
				margin-left:0px;
				margin-right:0px;
				}
/*
Interior--------------------------------------
*/				
                #interior article.inter:nth-child(1)
				{
				/*background:#36c;*/
				width: 100%;
				margin-left:0px;
				margin-right:0px;
				}
				#interior article.inter:nth-child(2)
				{
				/*background:#36c;*/
				width: 100%;
				margin-left:0px;
				margin-right:0px;
				}				

h3 {
font-size: 1em;
line-height: 1.1em;
}	
}
@media screen and (max-width: 906px) {
header{
/*background-color:#E77B11;*/
}
/*----------------------------------------
 Inicio  
----------------------------------------*/	
#portada1 article:nth-child(1)
{
width: 93%;
}
#portada1 article:nth-child(2)
{
width: 93%;
}
.logotipo{
width:170px;/*Super Importante*/
}

#portada_fondo {
padding: 60px 0 0 0;
}
/*----------------------------------------
Salida 
----------------------------------------*/		
#salida article
				{
				margin-left:0px;
				margin-right:0px;
				}
				#salida article:nth-child(1)
				{
				width: 100%;
				}
				#salida article:nth-child(2)
				{
				width: 100%;
				}
				#salida article:nth-child(3)
				{
				width: 100%;
				text-align:center;
				}					

h1 {
font-size: 1.9em;
line-height: 1em;
}
h2 {
font-size: 1.9em;
line-height: 1em;
}	
h3 {
font-size: 1em;
line-height: 1.1em;
}
/*
Portada 2
*/
                #rosas article.ross:nth-child(1)
				{
				background:#F9B6E8;
				width: 100%;
				margin-left:0px;
				margin-right:0px;
				}
				 #rosas article.ross:nth-child(2)
				{
				background:#F9B6E8;
				width: 100%;
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(3)
				{
				background:#F9B6E8;
				width: 49.6%;
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(4)
				{
				background:#F9B6E8;
				width: 49.6%;
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(5)
				{
				background:#F9B6E8;
				width: 49.6%;
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(6)
				{
				background:#F9B6E8;
				width: 49.6%;
				margin-left:0px;
				margin-right:0px;
				}
/*----------------------------------------
Boton Solicitar crédito
----------------------------------------*/
    input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		font-size: 1.1em;
	}	
}
@media screen and (max-width: 739px) { /*****************************************************************************/
header{
/*background:#F726E8;*/
font-size:1em;
}
h4 {
padding-left:1em;
padding-right:1em;
}
/*header{
font-size: 0.8em;
}*/
tel {
padding-left:1em;
width:100%;
color:#D9C507;
}
registro {
/*float: right;*/
text-align:center;
width:100%;
}

registro ul.menu_uno {
padding-right:0px;
}

registro ul.menu_uno li.barrita {
/*display: inline-block;*/
display: block;
line-height: 30px;
border-bottom:1px solid #fff;
}
#portada_fondo {
padding: 170px 0 0 0;
}
/*Datos*/
/*datos {
text-align:center;
}

datos ul.base {
padding-right:0px;
}

datos ul.base li.clientes {
display: block;
line-height: 30px;
border-bottom:1px solid #fff;
}*/
/*------------------------------
marcado
------------------------------*/
li.marcado {
	background:#5b90bc;
	}
	
registro ul.menu_uno li.marcado {
display: block;
line-height: 30px;
border-bottom:1px solid #fff;
}


.logotipo{
	width:230px;/*Super Importante*/
}
h1 {
margin-top:1em;
margin-bottom:0.8em;
font-size: 1.5em;
}
h2 {
font-size: 1.2em;
text-align:center;
margin-top:1em;
}
#portada1 article
{
margin-left:40px;
/*margin-right:20px;*/
}
#portada1 article:nth-child(1)
{
width:87%;
}
#portada1 article:nth-child(2)
{
width:87%;
}
.logotipo{
width:170px;/*Super Importante*/
}
/*------------------------------
rosas
------------------------------*/
                #rosas article.ross:nth-child(1)
				{
				background:#F9B6E8;
				width: 100%;
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(2)
				{
				background:#F9B6E8;
				width: 100%;
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(3)
				{
				background:#F9B6E8;
				width: 100%;
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(4)
				{
				background:#F9B6E8;
				width: 100%;
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(5)
				{
				background:#F9B6E8;
				width: 100%;
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(6)
				{
				background:#F9B6E8;
				width: 100%;
				margin-left:0px;
				margin-right:0px;
				}
/*------------------------------
Submenu
------------------------------*/	
submenu ul.menuu li.bari {
display: block;
line-height: 30px;
border-bottom:1px solid #fff;
}
submenu ul.menuu {
padding-right:0;
}
/*----------------------------------------
Salida 
----------------------------------------*/		
#salida article
				{
				margin-left:0px;
				margin-right:0px;
				padding-top:0.5em;
				}
				#salida article:nth-child(1)
				{
				/*background:#D15F61;*/
				width: 100%;
				}
				#salida article:nth-child(2)
				{
				/*background:#D15F61;*/	
				width: 100%;
				}
				#salida article:nth-child(3)
				{
				/*background:#D15F61;*/	
				width: 100%;
				text-align:center;
				}				
footer{
	padding-top:0;
	padding-bottom:2em;
	}					
}
@media screen and (max-width: 539px) {
header{
/*background-color:#A2881C;*/
}
#portada1 article
{
margin-left:20px;
margin-right:20px;
}
#portada1 article:nth-child(1)
{
width:85%;
/*text-align:center;*/
}
#portada1 article:nth-child(2)
{
width:85%;
/*padding-bottom:2em;*/
}
h6{
font-size: 0.8em;	
  }
h5{
/*padding-bottom:1em;*/
padding-top:1.5em;	
  } 

}