<form action="servicios_registro_5_XS.php" method="post" name="frmUpload" enctype="multipart/form-data">
<tr>
  <td>Upload</td>
  <td align="center">:</td>
  <td><input name="file0" type="file" id="file"/></td>
</tr>

<tr>
  <td>Upload</td>
  <td align="center">:</td>
  <td><input name="file1" type="file" id="file"/></td>
</tr>

<tr>
  <td>Upload</td>
  <td align="center">:</td>
  <td><input name="file2" type="file" id="file"/></td>
</tr>
<tr>
  <td>Upload</td>
  <td align="center">:</td>
  <td><input name="file3" type="file" id="file"/></td>
</tr>
<tr>
  <td>Upload</td>
  <td align="center">:</td>
  <td><input name="file4" type="file" id="file"/></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td align="center">&nbsp;</td>
  <td><input name="btnUpload" type="submit" value="Upload" /></td>
</tr>
