@charset "utf-8";

/*Formulario*/	
textarea:focus{
	outline:0px;
}
input:focus{
	outline:0px;
}

input{
  display:inline;
  }

form select.error
{  border-color:Red;
border-style:solid;
border-width:1px; 
}
/*
form input[type=text],*/
	
		form input,
		select,
		form textarea
		{
			border: 0;
			padding: 0.75em 0 0.75em 0;
		    font-size: 0.9em;
			border-radius: 5px;
			background: #fff;
			color: #555;
			padding-left:0.5em;
			padding-right:0.3em;
            border: 1px solid #ccc;
			/*box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.05), 0px 1px 0px 0px rgba(255,255,255,0.025);*/
			/*width: 99%;*/
		    -moz-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
			-webkit-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
			-o-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
			-ms-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
			transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
}

form select.salto{
	width: 98.9%;/*98.3*/
	}
		
form input.salto{
	width: 97.8%;/*98.3*/
	}			
form input[type=text]:focus,
		/*form input[type=password]:focus,
		form select:focus,*/
		form input:focus,/*ok*/
		form select:focus,
		form textarea:focus
		{
			background:#DADAD9;/*ECECEC Color adentro*/
			box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.0), 0px 0px 0px 0px rgba(255,255,255,0.0), inset 0px 0px 0px 0px #36c;
		}
form textarea
		{
			height:15em;
		}
		
		form .formerize-placeholder/*colores de texto en el interior de las barras*/
		{
			color: #555 !important;
		}

		form ::-webkit-input-placeholder
		{
			color: #555 !important;
		}

		form :-moz-placeholder
		{
			color: #555 !important;
		}

		form ::-moz-placeholder
		{
			color: #555 !important;
		}

		form :-ms-input-placeholder
		{
			color: #555 !important;
		}

		form ::-moz-focus-inner
		{
			border: 0;
		}
/*arreglo de botones del formulario*/
#azul
{
	background-color:none;
	width:100%;
	height:100%;
	text-align:right;/*Aqui cambias la posicion d los botones*/
	margin-left:auto;
	margin-right:auto;
}
#azu
{
	background-color:none;
	width:100%;
	height:100%;
	text-align:center;/*Aqui cambias la posicion d los botones*/
	margin-left:auto;
	margin-right:auto;
}

/*----------------------------------------
Boton Solicitar crédito
----------------------------------------*/
    input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		display: inline-block;
		/*width:190px;*/
		font-family: Helvetica, Arial, sans-serif;
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out;
		-o-transition: background-color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out;
	
		background: #2c4f71;
	
		border-radius: 4px;
		border: 0;
		color: white;
		cursor: pointer;
		display: inline-block;
		padding: 0.30em 0.5em;
		text-align: center;
		text-decoration: none;
		font-size: 1.2em;
		font-weight: normal;
		min-width: 8em;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		.button:hover {
			  background-color: #5b90bc;
		}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		.button.fit {
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		.button.small {
		font-size: 0.8em;
		}
		

@media screen and (max-width: 739px) {
	
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		display: inline-block;
		/*width:190px;*/
		font-family: Helvetica, Arial, sans-serif;
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out;
		-o-transition: background-color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out;
	
		background: #5b90bc;
	
		border-radius: 4px;
		border: 0;
		color: white;
		cursor: pointer;
		display: inline-block;
		padding: 0.15em 0.3em;/***********/
		text-align: center;
		text-decoration: none;
		font-size: 1em;
		font-weight: normal;
		min-width: 5em;/********/
	}

	
}