@charset "utf-8";
/*Por Anuar*/

/** {margin:0; padding:0}
body{
	background:#F0F0F0;
	}*/
/*----------------------------------------
 Inicio  
----------------------------------------*/		

#portada1
				{
				/*margin: 0px 0 0 0;
				/*padding: 0.5em 0.0em;*/
				width: 100%;
				height:100%;
				left: 0;
                top: 0;
				}
				#portada1 article
				{
				background:none;
				color: #36c;
				display: inline-block;
				height:100%;
				padding: 0%;
				/*margin: 0.5%;*/
				/*margin-left:40px;
				margin-right:1px;*/
			    vertical-align: top;
				}
				#portada1 article:nth-child(1)
				{
				/*background-color:#F55255;*/
				width: 100%;
				text-align:center;
				/*text-align:left;*/
				padding-bottom:1em;
				}
				#portada1 article:nth-child(2)
				{
				/*background:rgba(108,193,118,1.00);*//*Marcar este verde*/
				width: 100%;
				/*text-align:left;*/
				/*padding-bottom:13em;*/
				}
/*----------------------------------------
Portada 2 
----------------------------------------*/		
#rosas
				{
				margin: 0 0 0 0;
				/*padding: 0.5em 0.0em;*/
				width: 100%;
				height:100%;
				left: 0;
                top: 0;
				}
				#rosas article.ross
				{
				background:none;
				color: #36c;
				display: inline-block;
				height:100%;
				padding: 0%;
				margin: 0.5%;
				/*margin-left:0px;*/
				/*margin-right:1px;*/
				vertical-align: top;
				}
				#rosas article.ross:nth-child(1)
				{
				/*background:#F9B6E8;/*marcar los rosas aqui en ross*/
				width: 100%;
				margin-left:0px;
				margin-right:0px;
				text-align:left;
				}
				#rosas article.ross:nth-child(2)
				{
				/*background:#F9B6E8;*/
				width: 100%;
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(3)
				{
				/*background:#F9B6E8;*/
				width: 48.8%;/*49.8*/
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(4)
				{
				/*background:#F9B6E8;*/
				width: 48.8%;/*49.8*/
				margin-left:2%;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(5)
				{
				/*background:#F9B6E8;*/
				width: 49.8%;
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(6)
				{
				/*background:#F9B6E8;*/
				width: 49.8%;
				margin-left:0px;
				margin-right:0px;
				}
/*----------------------------------------
Broche
----------------------------------------*/		
#broche
				{
				margin: 0 0 0 0;
				/*padding: 0.5em 0.0em;*/
				width: 100%;
				height:100%;
				left: 0;
                top: 0;
				}
				#broche article.cheta
				{
				background:none;
				color: #36c;
				display: inline-block;
				height:100%;
				padding: 0%;
				margin: 0.5%;
				margin-left:4%;
				margin-right:4%;/*1px*/
				vertical-align: top;
				}
				#broche article.cheta:nth-child(1)
				{
				/*background:#F9B6E8;*/
				width: 4.5%;
				text-align:center;
				}
				#broche article.cheta:nth-child(2)
				{
				/*background:#F9B6E8;*/
				width: 4.5%;
				}
				#broche article.cheta:nth-child(3)
				{
				/*background:#F9B6E8;*/
				width: 4.5%;
				}
				#broche article.cheta:nth-child(4)
				{
				/*background:#F9B6E8;*/
				width: 4.5%;
				}
				#broche article.cheta:nth-child(5)
				{
				/*background:#F9B6E8;*/
				width: 4.5%;
				}
				#broche article.cheta:nth-child(6)
				{
				/*background:#F9B6E8;*/
				width: 4.5%;
				}
j {
font-family: Helvetica, Arial, sans-serif;
color: #2c4f71;
font-size: 1em;
font-weight: normal;
}
h1 {
font-family: Helvetica, Arial, sans-serif;
color: #2c4f71;
font-size: 1em;
font-weight: normal;
}				
h2 {
font-family: Helvetica, Arial, sans-serif;
color: #2c4f71; /*CB2328 rojo   2c4f71 azul */
font-size: 1.2em;
line-height: 1em;
font-weight: normal;
font-style: italic;
}
h4 {
font-family: Helvetica, Arial, sans-serif;
color: #2c4f71;
font-size:.9em;
line-height:1.1em;
font-weight: normal;
text-align:left;
}
h3 {
font-family: Helvetica, Arial, sans-serif;
color: #2c4f71;
font-size:.9em;
line-height:1.1em;
font-weight: normal;
text-align:justify;
}
h5 {
font-family: Helvetica, Arial, sans-serif;
color: #2c4f71;
font-size:0.8em;
line-height:1.2em;
font-weight: normal;
text-align:left;
}
h6 {
font-family: Helvetica, Arial, sans-serif;
color: #5788B0; /*CB2328 rojo   2c4f71 azul */
font-size: 1.2em;
line-height: 1em;
font-weight: normal;
font-style: italic;
}
siux {
font-family: Helvetica, Arial, sans-serif;
color: #5788B0; /*CB2328 rojo   5788B0 azul */
font-size: 1.2em;
line-height: 1em;
font-weight: normal;
font-style: italic;
}
a.btn_red {
    font-family: Helvetica, Arial, sans-serif;
    display: inline-block;
    /*text-transform: uppercase;*/
    background-color: #ED6347;/*2c4f71********************************************************************************************8fbf4d*/
    color: #fff;
    margin-top: 0px;
    /*padding: 12px 20px 15px;*/
	font-size: 1.2em;
	text-decoration:none;
	padding: 0.30em 0.5em;
	border-radius: 4px;
}

a.btn_red:hover {
    background-color: #440b0b;/*************************************************************************************************************************/
}
table {
border-collapse: separate;
border-spacing:28px 0;
}
.pregunton{
	width:20px;
	}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	font-family: Helvetica, Arial, sans-serif;
    visibility: hidden;
    width: 220px;
	font-size: 0.9em;
    line-height: 1em;
    font-weight: normal;
    background: #2c4f71;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}				 								
/*----------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1273px) {
/*#portada1 article:nth-child(1)
				{
				background-color:#36c;
				}*/						
}

@media screen and (max-width: 1064px) {
/*#portada1 article:nth-child(1)
				{
				background-color:#ccc;
				}*/	
header
                #rosas article.ross:nth-child(1)
				{
				/*background:#F9B6E8;*/
				width: 100%;
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(2)
				{
				/*background:#F9B6E8;*/
				width: 100%;
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(3)
				{
				/*background:#F9B6E8;*/
				width: 48.6%;/*49.6*/
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(4)
				{
				/*background:#F9B6E8;*/
				width: 48.6%;/*49.6*/
				margin-left:2%;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(5)
				{
				/*background:#F9B6E8;*/
				width: 49.6%;
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(6)
				{
				/*background:#F9B6E8;*/
				width: 49.6%;
				margin-left:0px;
				margin-right:0px;
				}	
}
@media screen and (max-width: 906px) {
/*#portada1 article:nth-child(1)
{
background:#F4FBC6;
}*/
	
.logotipo{
width:170px;/*Super Importante*/
}

#portada_fondo {
padding: 60px 0 0 0;
}
#rosas article.ross:nth-child(1)
				{
				/*background:#F9B6E8;*/
				width: 100%;
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(2)
				{
				/*background:#F9B6E8;*/
				width: 100%;
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(3)
				{
				/*background:#F9B6E8;*/
				width: 48.3%;/*49.6*/
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(4)
				{
				/*background:#F9B6E8;*/
				width: 48.3%;/*49.6*/
				margin-left:2.6%;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(5)
				{
				/*background:#F9B6E8;*/
				width: 49.6%;
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(6)
				{
				/*background:#F9B6E8;*/
				width: 49.6%;
				margin-left:0px;
				margin-right:0px;
				}
/*----------------------------------------
Boton Solicitar crédito
----------------------------------------*/
    input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		font-size: 1.1em;
	}	
}
@media screen and (max-width: 739px) {
/*#portada1 article:nth-child(1)
{
background:#F1934A;
}*/	

                #rosas article.ross:nth-child(1)
				{
				/*background:#F9B6E8;*/
				width: 100%;
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(2)
				{
				/*background:#F9B6E8;*/
				width: 100%;
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(3)
				{
				/*background:#F9B6E8;*/
				width: 100%;
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(4)
				{
				/*background:#F9B6E8;*/
				width: 100%;
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(5)
				{
				/*background:#F9B6E8;*/
				width: 100%;
				margin-left:0px;
				margin-right:0px;
				}
				#rosas article.ross:nth-child(6)
				{
				/*background:#F9B6E8;*/
				width: 100%;
				margin-left:0px;
				margin-right:0px;
				}
                #broche
				{
				margin: 0 0 0 0;
				/*padding: 0.5em 0.0em;*/
				width: 100%;
				height:100%;
				left: 0;
                top: 0;
				}
				#broche article.cheta
				{
				background:none;
				color: #36c;
				display: inline-block;
				height:100%;
				padding: 0%;
				margin: 0.5%;
				margin-left:2%;
				/*margin-right:1px;*/
				vertical-align: top;
				}
				#broche article.cheta:nth-child(1)
				{
				/*background:#F9B6E8;*/
				width: 25%;
				}
				#broche article.cheta:nth-child(2)
				{
				/*background:#F9B6E8;*/
				width: 25%;
				}
				#broche article.cheta:nth-child(3)
				{
				/*background:#F9B6E8;*/
				width: 25%;
				}
				#broche article.cheta:nth-child(4)
				{
				/*background:#F9B6E8;*/
				width: 25%;
				}
				#broche article.cheta:nth-child(5)
				{
				/*background:#F9B6E8;*/
				width: 25%;
				}
				#broche article.cheta:nth-child(6)
				{
				/*background:#F9B6E8;*/
				width: 25%;
				}								
@media screen and (max-width: 539px) {
	
	#broche
				{
				margin: 0 0 0 0;
				/*padding: 0.5em 0.0em;*/
				width: 100%;
				height:100%;
				left: 0;
                top: 0;
				}
				#broche article.cheta
				{
				background:none;
				color: #36c;
				display: inline-block;
				height:100%;
				padding: 0%;
				/*margin: 0.5%;
				margin-left:0;
				/*margin-right:1px;*/
				vertical-align: top;
				}
				#broche article.cheta:nth-child(1)
				{
				/*background:#F9B6E8;*/
				width: 25%;
				}
				#broche article.cheta:nth-child(2)
				{
				/*background:#F9B6E8;*/
				width: 25%;
				}
				#broche article.cheta:nth-child(3)
				{
				/*background:#F9B6E8;*/
				width: 25%;
				}
				#broche article.cheta:nth-child(4)
				{
				/*background:#F9B6E8;*/
				width: 25%;
				}
				#broche article.cheta:nth-child(5)
				{
				/*background:#F9B6E8;*/
				width: 25%;
				}
				#broche article.cheta:nth-child(6)
				{
				/*background:#F9B6E8;*/
				width: 25%;
				}
table {
border-spacing:8px 0;
}						
 
}