@charset "utf-8";
/*Por Anuar*/

* {margin:0; padding:0}

header{
width:100%;
background-color:#2c4f71;
opacity:0.8;
position:fixed;
font-family: Helvetica, Arial, sans-serif;
color: #fff;
font-size: 1em;
color: white;
/*font-weight: 600;*/
}

header a{
color:#fff;
}

#portada_fondo {
background-image: url(../imagenes/enveria_portada_2.jpg);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
padding: 60px 0 40px 0; /*60px 0 40px 0*/
}

/*------------------------------
Teléfono y Redes sociales
------------------------------*/
 
tel {
margin: 0;
	/*padding: 0;*/
padding-left: 40px;
list-style: none;
padding-right: 20px;
line-height: 50px;
font-weight: 600;
} 
/*------------------------------
Registro
------------------------------*/	

registro {
float: right;
}

registro ul.menu_uno {
margin: 0;
padding: 0;
list-style: none;
padding-right:40px;/*40px*/
}
	
registro ul.menu_uno li.barrita {
display: inline-block;
line-height: 50px;
}
			
registro ul.menu_uno li.barrita a {
display: block;
padding: 0 10px;
text-decoration: none;
}
			
registro ul.menu_uno li.barrita a:hover {
background: #5b90bc;
}

/*------------------------------
marcado
------------------------------*/
li.marcado {
	background:#5b90bc;
	
}
	
registro ul.menu_uno li.marcado {
display: inline-block;
line-height: 50px;
}
			
registro ul.menu_uno li.marcado a {
display: block;
padding: 0 10px;
text-decoration: none;
}
			
registro ul.menu_uno li.marcado a:hover {
background:#123049;
}
/*------------------------------
Submenu
------------------------------*/	
submenu {
float: center;
font-family: Helvetica, Arial, sans-serif;
color: #fff;
font-size: .9em;
font-weight: 600;
text-align:center;
}

submenu a{
color:#fff;
}

submenu ul.menuu {
margin: 0;
padding: 0;
list-style: none;
padding-right:40px;
}
	
submenu ul.menuu li.bari {
display: inline-block;
line-height: 50px;
}
			
submenu ul.menuu li.bari a {
display: block;
padding: 0 10px;
text-decoration: none;
}
			
submenu ul.menuu li.bari a:hover {
color:#D9C507;
}

/*----------------------------------------
 Inicio  
----------------------------------------*/		
#portada1
				{
				margin: 0px 0 0 0;
				padding: 0.5em 0.0em;
				width: 100%;
				height:100%;
				left: 0;
                top: 0;
				}
				#portada1 article
				{
				background:none;
				color: #36c;
				display: inline-block;
				height:100%;
				padding: 0%;
				margin: 0.5%;
				margin-left:40px;
				margin-right:1px;
				vertical-align: top;
				}
				#portada1 article:nth-child(1)
				{
				width: 95%;
				}
				#portada1 article:nth-child(2)
				{
				/*background:rgba(108,193,118,1.00);*/
				width: 95%;
				text-align:center;
				}
				#portada1 article:nth-child(3)
				{
				/*background:rgba(108,193,118,1.00);*/
				width: 95%;
				text-align:center;
				}
				
/*----------------------------------------
Pasos  
----------------------------------------*/		
#pasos
				{
				margin: 0px 0 0 0;
				padding: 0.5em 0.0em;/*0.5em 0.0em*/
				width: 100%;
				height:100%;
				left: 0;
                top: 0;
				}
				#pasos article
				{
				background:none;
				color: #36c;
				display: inline-block;
				height:100%;
				padding: 0%;
				margin: 0.5%;/*margin: 0.5%;*/
				margin-left:40px;
				margin-right:1px;
				vertical-align: top;
				}
				#pasos article:nth-child(1)
				{
				/*background-color:#DC383A;*/
				width: 95%;
				text-align:center;
				padding-top:2em;
				padding-bottom:2em;
				}
				#pasos article:nth-child(2)
				{
				/*background-color:#DC383A;*/
				width: 21.5%;
				}
				#pasos article:nth-child(3)
				{
				/*background-color:#DC383A;*/
				width: 21.5%;
				}
				#pasos article:nth-child(4)
				{
				/*background-color:#DC383A;*/
				width: 21.5%;
				}
				#pasos article:nth-child(5)
				{
				/*background-color:#DC383A;*/
				width: 21.5%;
				}
				#pasos article:nth-child(6)
				{
			    /*background-color:#DC383A;*/
				width: 95%;
				text-align:center;
				padding-top:2em;
				padding-bottom:2em;
				}
.protec{
	width:70%;/*Super Importante*/
	display:block;
margin:auto;
}
/*----------------------------------------
Salida 
----------------------------------------*/		
#salida
				{
				margin: 0px 0 0 0;
				padding: 0.5em 0.0em;
				width: 100%;
				height:100%;
				left: 0; 
                top: 0;
				}
				#salida article
				{
				background:none;
				color: #36c;
				display: inline-block;
				height:100%;
				padding: 0%;
				margin: 0.5%;
				margin-left:40px;
				margin-right:1px;
				vertical-align: top;
				}
				#salida article:nth-child(1)
				{
				/*background-color:#DC383A;*/
				width: 95%;
				}
				#salida article:nth-child(2)
				{
				/*background-color:#DC383A;*/
				width: 95%;
				}
				#salida article:nth-child(3)
				{
				/*background-color:#DC383A;*/
				width: 95%;
				}			
/*----------------------------------------
Broche
----------------------------------------*/		
#ganador
				{
				margin: 0 0 0 0;
				/*padding: 0.5em 0.0em;*/
				width: 100%;
				height:100%;
				left: 0;
                top: 0;
				}
				#ganador article.exitoso
				{
				background:none;
				color: #36c;
				display: inline-block;
				height:100%;
				/*padding: 0.3%;*/
				/*margin: 0.5%;*/
				margin-left:1%;
				margin-right:1%;/*1px*/
				vertical-align: top;
				}
				#ganador article.exitoso:nth-child(1)
				{
				/*background:#F9B6E8;*/
				width: 20%;
				text-align:center;
				}
				#ganador article.exitoso:nth-child(2)
				{
				/*background:#F9B6E8;*/
				width: 20%;
				}
#clic_1 {
	background:#ED6347;
	padding: 0.60em 1.5em;
	font-family: Helvetica, Arial, sans-serif;
	font-size:1em;
	color:#ffffff;
	border-radius: 7px;}
#clic_1:hover {
	background-color:#440b0b;}
	
#clic_2 {
	background:#2c4f71;
	padding: 0.60em 1.5em;
	font-family: Helvetica, Arial, sans-serif;
	font-size:1em;
	color:#ffffff;
	border-radius: 7px;}
#clic_2:hover {
	background-color:#5b90bc;}													
/*----------------------------------------
Títulos 
----------------------------------------*/
h1 {
font-family: Helvetica, Arial, sans-serif;
color: white;
font-size: 2.2em;
line-height: 1em;
margin-top:6em;
margin-bottom:0.8em;
font-weight: normal;
font-style: italic;
text-shadow: 2px 2px 3px #2c4f71;
}	
h2 {
font-family: Helvetica, Arial, sans-serif;
color: #2c4f71;
font-size: 2.2em;
line-height: 1em;
font-weight: normal;
font-style: italic;
}
h3 {
font-family: Helvetica, Arial, sans-serif;
color:  #2c4f71;
font-size: 1.4em;
line-height: 1em;
/*margin-top:0.5em;*/
padding-top:1em;
font-weight: normal;
font-style: italic;
text-align:center;
}
h4 {
font-family: Helvetica, Arial, sans-serif;
color:  #fff;
font-size:.9em;
line-height:1.1em;
font-weight: normal;
text-align:center;
}
.b{
text-decoration:none;
color: #fff;	
}
.bold{
font-weight:600;
}
.logotipo{
	width:350px;/*Super Importante*/
}
a.btn_red {
    font-family: Helvetica, Arial, sans-serif;
    display: inline-block;
    /*text-transform: uppercase;*/
    background-color: #ED6347;/*2c4f71********************************************************************************************8fbf4d*/
    color: #fff;
    margin-top: 0px;
    /*padding: 12px 20px 15px;*/
	font-size: 1.2em;
	text-decoration:none;
	padding: 0.80em 2em;/*padding: 0.30em 0.5em;*/
	border-radius: 7px;
}

a.btn_red:hover {
    background-color: #440b0b;/*************************************************************************************************************************/
}
/*----------------------------------------
Boton Solicitar crédito
----------------------------------------*/
    input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		font-family: Helvetica, Arial, sans-serif;
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out;
		-o-transition: background-color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out;
		background: #5b90bc;
	
		border-radius: 7px;
		border: 0;
		color: white;
		cursor: pointer;
		display: inline-block;
		padding: 0.80em 2em;
		text-align: center;
		text-decoration: none;
		font-size: 1.2em;
		font-weight: normal;
		min-width: 10em;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		.button:hover {
			  background-color: #2c4f71;
		}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		.button.fit {
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		.button.small {
		font-size: 0.8em;
		}
	
/*----------------------------------------
Footer
----------------------------------------*/		
footer{
	background-color: #2c4f71;
	padding-top:3em;
	padding-bottom:5em;
	}
@media screen and (max-width: 1273px) {

header{
/*background-color:#F3090D;*/
}
/*----------------------------------------
Pasos  
----------------------------------------*/
#pasos
				#pasos article:nth-child(1)
				{
				/*background-color:#5E82D5;*/
				width: 95%;
				text-align:center;
				padding-top:2em;
				padding-bottom:2em;
				}
				#pasos article:nth-child(2)
				{
				/*background-color:#5E82D5;*/
				width: 20.8%;
				}
				#pasos article:nth-child(3)
				{
				/*background-color:#5E82D5;*/
				width: 20.8%;
				}
				#pasos article:nth-child(4)
				{
				/*background-color:#5E82D5;*/
				width: 20.8%;
				}
				#pasos article:nth-child(5)
				{
				/*background-color:#5E82D5;*/
				width: 20.8%;
				}
				#pasos article:nth-child(6)
				{
			    /*background-color:#5E82D5;*/
				width: 95%;
				text-align:center;
				padding-top:2em;
				padding-bottom:2em;
				}
.protec{
	width:70%;/*Super Importante*/
}
h3 {
font-size: 1.2em;
line-height: 1em;
}
#ganador article.exitoso:nth-child(1){width: 25%;}
#ganador article.exitoso:nth-child(1){width: 25%;}	
}

@media screen and (max-width: 1064px) {
header{
/*background-color:#E5E409;*/
}
/*----------------------------------------
Pasos  
----------------------------------------*/		
                #pasos article:nth-child(1)
				{
				/*background-color:#D5BD17;*/
				width: 95%;
				text-align:center;
				padding-top:1em;
				padding-bottom:1em;
				}
				#pasos article:nth-child(2)
				{
				/*background-color:#D5BD17;*/
				width:19%;
				}
				#pasos article:nth-child(3)
				{
				/*background-color:#D5BD17;*/
				width:19%;
				}
				#pasos article:nth-child(4)
				{
				/*background-color:#D5BD17;*/
				width:19%;
				}
				#pasos article:nth-child(5)
				{
				/*background-color:#D5BD17;*/
				width:19%;
				}
				#pasos article:nth-child(6)
				{
			    /*background-color:#D5BD17;*/
				width: 95%;
				text-align:center;
				padding-top:1em;
				padding-bottom:1em;
				}
.protec{
	width:90%;/*Super Importante*/
}
h3 {
font-size: 1em;
line-height: 1.1em;
}
#ganador article.exitoso:nth-child(1){width: 30%;}
#ganador article.exitoso:nth-child(1){width: 30%;}		
}
@media screen and (max-width: 906px) {
header{
/*background-color:#E77B11;*/
}
/*----------------------------------------
 Inicio  
----------------------------------------*/		
#portada1 article
				{
				margin-left:0px;
				margin-right:0px;
				}
				#portada1 article:nth-child(1)
				{
				width: 100%;
				}
				#portada1 article:nth-child(2)
				{
				width: 100%;
				}
				#portada1 article:nth-child(3)
				{
				width: 100%;
				}
/*----------------------------------------
Salida 
----------------------------------------*/		
#salida article
				{
				margin-left:0px;
				margin-right:0px;
				}
				#salida article:nth-child(1)
				{
				width: 100%;
				}
				#salida article:nth-child(2)
				{
				width: 100%;
				}
				#salida article:nth-child(3)
				{
				width: 100%;
				text-align:center;
				}					
/*----------------------------------------
Pasos  
----------------------------------------*/	
                #pasos article
				{
				margin-left:0px;
				margin-right:0px;
				}	
                #pasos article:nth-child(1)
				{
				/*background-color:#E77B11;*/
				width: 100%;
				text-align:center;
				padding-top:0.5em;
				padding-bottom:0.5em;
				}
				#pasos article:nth-child(2)
				{
				/*background-color:#E77B11;*/
				width:23.7%;
				margin-left:5px;
				}
				#pasos article:nth-child(3)
				{
				/*background-color:#E77B11;*/
				width:23.7%;
				margin-left:5px;
				}
				#pasos article:nth-child(4)
				{
				/*background-color:#E77B11;*/
				width:23.7%;
				margin-left:5px;
				}
				#pasos article:nth-child(5)
				{
				/*background-color:#E77B11;*/
				width:23.7%;
				margin-left:5px;
				}
				#pasos article:nth-child(6)
				{
			    /*background-color:#E77B11;*/
				width: 100%;
				text-align:center;
				padding-top:1em;
				padding-bottom:1em;
				}
.protec{
	width:70%;/*Super Importante*/
}
h1 {
font-size: 1.9em;
line-height: 1em;
}
h2 {
font-size: 1.9em;
line-height: 1em;
}	
h3 {
font-size: 1em;
line-height: 1.1em;
}
/*----------------------------------------
Boton Solicitar crédito
----------------------------------------*/
    input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		font-size: 1.1em;
	}
#ganador article.exitoso:nth-child(1){width: 40%;}
#ganador article.exitoso:nth-child(1){width: 40%;}			
}
@media screen and (max-width: 739px) {
header{
/*background-color:#5E8622;*/
font-size:1em;
}
h4 {
padding-left:1em;
padding-right:1em;
}
/*header{
font-size: 0.8em;
}*/
tel {
padding-left:1em;
width:100%;
color:#D9C507;
}
registro {
/*float: right;*/
text-align:center;
width:100%;
}

registro ul.menu_uno {
padding-right:0px;
}

registro ul.menu_uno li.barrita {
/*display: inline-block;*/
display: block;
line-height: 30px;
border-bottom:1px solid #fff;
}

/*------------------------------
marcado
------------------------------*/
li.marcado {
	background:#5b90bc;
	}
	
registro ul.menu_uno li.marcado {
display: block;
line-height: 30px;
border-bottom:1px solid #fff;
}


.logotipo{
	width:230px;/*Super Importante*/
}
h1 {
margin-top:1em;
margin-bottom:0.8em;
font-size: 1.5em;
}
h2 {
font-size: 1.5em;
}
#portada_fondo {
padding: 190px 0 20px 0; /*60px 0 40px 0*/
}

#pasos article:nth-child(2)
				{
				/*background-color:#E77B11;*/
				width:47%;
				margin-left:5px;
				}
				#pasos article:nth-child(3)
				{
				/*background-color:#E77B11;*/
				width:47%;
				margin-left:5px;
				}
				#pasos article:nth-child(4)
				{
				/*background-color:#E77B11;*/
				width:46%;
				margin-left:5px;
				}
				#pasos article:nth-child(5)
				{
				/*background-color:#E77B11;*/
				width:46%;
				margin-left:5px;
				}	
.protec{
	width:100%;/*Super Importante*/
}
/*------------------------------
Submenu
------------------------------*/	
submenu ul.menuu li.bari {
display: block;
line-height: 30px;
border-bottom:1px solid #fff;
}
submenu ul.menuu {
padding-right:0;
}
/*----------------------------------------
Salida 
----------------------------------------*/		
#salida article
				{
				margin-left:0px;
				margin-right:0px;
				padding-top:0.5em;
				}
				#salida article:nth-child(1)
				{
				/*background:#D15F61;*/
				width: 100%;
				}
				#salida article:nth-child(2)
				{
				/*background:#D15F61;*/	
				width: 100%;
				}
				#salida article:nth-child(3)
				{
				/*background:#D15F61;*/	
				width: 100%;
				text-align:center;
				}
footer{
	padding-top:0;
	padding-bottom:2em;
	}
#ganador article.exitoso:nth-child(1){width: 87%;}
#ganador article.exitoso:nth-child(1){width: 87%;}						
}